*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

button:focus,
input:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  border-radius: 3px;
  background-color: #1f2022;
  width: 20px;
  height: 3px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 22px;
  padding-right: 20px;
  max-width: 830px;
  width: 50%;
}
.input-search {
  background-color: transparent;
  border: none;
  padding: 12px 23px;
  width: 100%;
}
.input-btn {
  width: 19px;
  height: 19px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.icons-link {
  opacity: 0.24;
  text-decoration: none;
}
.icons-link:hover {
  opacity: 0.7;
}
.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}
.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  padding-left: 32px;
  position: fixed;
  left: 0;
  height: calc(100% - 114px);
  top: 114px;
  overflow-y: auto;
  width: 14%;
  -ms-overflow-style: none;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar {
  width: 0;
}

.content {
  width: 100%;
  height: 400px;
  margin-top: 85px;
  padding-left: 14%;
  padding-top: 30px;
}

.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}
.nav-item {
  margin-bottom: 28px;
}
.nav-item .icon {
  fill: #898989;
}
.nav-item:hover {
  color: #ff0000;
}
.nav-item:hover .icon {
  fill: #ff0000;
}
.nav-item:hover .nav-link {
  color: #ff0000;
}
.nav-link {
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #898989;
}
.nav-icon {
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
.nav-img {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}
.nav-img img {
  width: 100%;
  border-radius: 50%;
}

.channel {
  position: relative;
}
.channel-title {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #19202c;
  font-size: 26px;
  line-height: 33px;
  font-weight: bold;
  margin-bottom: 30px;
}
.channel-buttons {
  position: absolute;
  right: 10%;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}
.channel-button {
  cursor: pointer;
}
.channel-button:focus {
  outline: none;
}
.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.channel-text {
  margin-left: 20px;
}
.channel-slide {
  width: 250px;
  margin: 0 40px;
}

.video-card {
  width: 250px;
}
.video-thumb {
  width: 250px;
  height: 150px;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
}
.video-duration {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  padding: 3px 9px;
  border-radius: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.video-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}
.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c2c2c2;
  font-size: 13px;
  line-height: 16px;
}
.video-views {
  margin-right: 5px;
}
.video-views::after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.thumbnail {
  width: 250px;
  height: 150px;
  object-fit: cover;
  object-position: center 70%;
}
/*# sourceMappingURL=main.css.map */